APP_NAME=beepboopauditor

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=my-prefix
REDIS_QUEUE=default

LARAVEL_WEBHOOK_URL="http://my-webhook-url"
LARAVEL_INTERNAL_SECRET=secret

# Hugging Face
SUMMARIZATION_MODEL="Qwen/Qwen2.5-1.5B-Instruct"
NER_MODEL="dslim/bert-base-NER"
HF_TOKEN=